<div class="row">
    <div class="col-lg-4" style="width: 20rem;">
        <div class="card" style="width: 18rem;">
            <mat-accordion style="width: 13rem;" class=" ms-4 mb-2 mt-2">
                <mat-expansion-panel class="bg-body-secondary">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-success">Movie Name</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field style="width: 10rem;">
                        <mat-label>search for movie name</mat-label>
                        <input matInput />
                    </mat-form-field>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion style="width: 13rem;" class=" ms-4 mb-2">
                <mat-expansion-panel class="bg-body-secondary">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-success">Species</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field style="width: 10rem;">
                        <mat-label>search for species</mat-label>
                        <input matInput />
                    </mat-form-field>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion style="width: 13rem;" class=" ms-4 mb-2">
                <mat-expansion-panel class="bg-body-secondary">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-success">Vehicle</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field style="width: 10rem;">
                        <mat-label>search for vehicle</mat-label>
                        <input matInput />
                    </mat-form-field>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion style="width: 13rem;" class=" ms-4 mb-2">
                <mat-expansion-panel class="bg-body-secondary">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-success">Star Ships</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field style="width: 10rem;">
                        <mat-label>search for star ships</mat-label>
                        <input matInput />
                    </mat-form-field>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="row">
                <h3 class="m-3 text-success">SEARCH RESULTS</h3>
            </div>
            <div class="row">
                <div class="col-sm-11 m-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="bg-light border-end border-bottom border-white m-2" scope="col">Sl No</th>
                                <th class="bg-light border-end border-bottom border-white mb-2" scope="col" colspan="3">
                                    Charecter Name</th>
                                <th class="bg-light border-end border-bottom  border-white mb-2" scope="col">Species
                                </th>
                                <th class="bg-light border-end border-bottom border-white mb-2" scope="col">Birth Year
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr (click)="selectRow(i,people)" *ngFor="let people of peopleData; let i=index">

                                <td class="bg-secondary-subtle border-end border-bottom border-white ">{{i+1}}</td>
                                <td class="bg-secondary-subtle border-end border-bottom border-white " colspan="3">
                                    {{people.name}}
                                </td>
                                <td class="bg-secondary-subtle border-end border-bottom  border-white ">
                                    {{people.species[0]}}</td>
                                <td class="bg-secondary-subtle border-end border-bottom border-white ">{{people.
                                    birth_year
                                    }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end">
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">1</span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>